.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  .organizations {
    padding:16px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-right:16px;
    margin-top: 24px;
    margin-left: 16px;
    border-radius: 10px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        outline:none;
        border:none;
        background-color: #02B7FA;
        width:164px;
        height:48px;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        cursor:pointer;
      }
    }
    &-filters {
      display: flex;
      gap:10px;
      margin-top: 24px;
      div:first-child {
        input {
          width: 100%;
          height: 48px;
        }
        input::placeholder {
          font-size: 12px;
          padding-left: 0px;
          color: #A4B4BB;
        }
      }


    }
  }
}

::ng-deep {
  .p-dropdown{
    max-width: 365px;
    width: 100%;
    height: 46px;
    padding: 10px;
  }
  p-calendar {
    span {
      width: 100%;
    }
    .p-inputtext {
      max-width: 365px;
      width: 100%;
      height: 46px;
      padding: 10px;
    }
  }
}
