.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
  .organizations {
    padding:16px;
    width: 100%;
    height: 100%;
    max-height: 1070px;
    background-color: white;
    border-radius: 10px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        outline:none;
        border:none;
        background-color: #02B7FA;
        width:121px;
        height:36px;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 15px;
        color: white;
        font-weight: 700;
        cursor:pointer;
      }
    }
    &-filters {
      display: flex;
      gap:10px;
      margin-top: 24px;
      div:first-child {
        input {
          width: 100%;
          height: 48px;
        }
        input::placeholder {
          font-size: 12px;
          padding-left: 0px;
          color: #A4B4BB;
        }
      }


    }
  }
}

::ng-deep {
  .p-dropdown{
    width: 100%;
    height: 46px;
    padding: 10px;
  }
  p-calendar {
    span {
      width: 100%;
    }
    .p-inputtext {
      width: 100%;
      height: 46px;
      padding: 10px;
    }
  }
}
.organizations__table {
  margin-top: 15px;
  overflow-x: auto; 
  @media (max-width: 900px) {
    max-width: 375px;
  }
}

.p-table {
  min-width: 100%; 
  width: 100%; 
}

.p-table th, .p-table td {
  white-space: nowrap; 
}