<div class="w-[290px] py-[17.5px] px-[76px] flex justify-center items-center  flex-col gap-[18px] rounded-[6px]"
[ngClass]="{
    'bg-backgroundLight': colorType === 'primary',
    'bg-backgroundDark': colorType === 'success',
    'bg-textMedium': colorType === 'alert',
    'bg-backgroundMedium': colorType === 'secondary',
    'bg-textLight': colorType === 'error'
}"
>
<!-- [ngClass]="{'max-w-[224px]': true}" -->
   <div class="bg-white rounded-[16px] py-[18px] px-[20px]">
    <img src="./assets/images/dashboard/people-fill.svg" alt="*">
   </div>
    <h3>{{colorType=== 'error' ? value + '₾' : value}}</h3>
    <p class="text-muted text-[12px] text-nowrap">{{title}}</p>
</div>