<div class="header">
  <div></div>
  <div class="header__user" *ngIf="user$ | async as uData">
    <img class="w-[40px]" src="./assets/images/dashboard/avatar.png" alt="*">
    <div class="header__user__info">
      <p class="header__user__info-username">{{uData.username}}</p>
      <p class="header__user__info-position"
        *ngFor="let role of uData.roles"
      >{{role.role.name}}</p>
    </div>
    <img class="header__user-arrow w-[11px]" src="./assets/images/dashboard/arrow.png" alt="">
  </div>
</div>
