<app-web-container *ngIf="{position:positions$ | async} as params">
  @if ($openAddPopup$()) {
    <app-add-employee (close)="$openAddPopup$.set(false)" [position]="params.position"/>
  }
  <app-web-container-inner [sectionType]="'employee'">
    <ng-container header-btn>
      <div class="flex items-center gap-4">
        <img
          class="cursor-pointer"
          src="./assets/images/employee/add_circle.svg"
          alt="*"
          (click)="$openAddPopup$.set(true)"
        />
        <!--  -->
        <img
          class="cursor-pointer"
          src="./assets/images/employee/download.svg"
          alt="*"
        />
        <!--  -->
        <img
          class="cursor-pointer"
          src="./assets/images/employee/upload.svg"
          alt="*"
        />
      </div>
    </ng-container>
    <!--  -->
    <ng-container dropdown-selling-group>
      <div class="w-[100%] max-w-[215px]">
        <p-dropdown
          [options]="params.position"
          optionLabel="name"
          placeholder="{{ 'პოზიცია' | translate }}"
          [showClear]="$isItemSelected$() ? true : false"
        />
      </div>
    </ng-container>
    <!--  -->
    <ng-container dropdown-position>
      <div class="w-[100%] max-w-[215px]">
        <p-dropdown
          [options]="translationSubscription$ | async"
          optionLabel="name"
          placeholder="{{ 'გაყიდვების ჯგუფი' | translate }}"
          [showClear]="$isItemSelected$() ? true : false"
        />
      </div>
    </ng-container>
    <!--  -->
    <ng-container table>
      <div class="mt-[44px]">
        <app-universal-table
          [columns]="tableColumnsRoles"
          [data]="employeeData$ | async"
        />
      </div>
    </ng-container>
  </app-web-container-inner>
</app-web-container>
