
::ng-deep {
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: var(--accent); 
    border: 1px solid var(--accent);
}
.p-menuitem-text {
  color: var(--accent); 
}
}
.specific-organization {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 88px 16px 16px;
  &__wrapper{
    padding:24px;
    width: 100%;
    width: 100%;
    background-color: white;
    margin: 16px;
    border-radius: 10px;
  }
}

::ng-deep {
  .p-tabmenu-nav {
    display: flex;
    gap: 45px;
  }
  .p-menuitem-text {
    padding: 17px;
  }
}
