
.sidebar {
    max-width:200px;
    width:100%;
    height: 100vh;
    background-color: white;
    padding: 16px;
  display: flex;
  position: relative;
  z-index: 20;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
  &__tab {
    margin-top: 40px;
    &__route:not(:first-child) {
      margin-top: 24px;
    }
    &__route {
      display:flex;
      align-items:center;
      gap:8px;
      height:32px;
      border-radius:10px;
      cursor:pointer;
      padding: 8px 16.5px;
      img {
        width: 16px;
        height: 16px;
      }
      p {
        font-size:14px;
      }
      &--active {
        background-color: #02B7FA;
        width: 100%;
        height: 32px;
        border-radius: 10px;
        p {
          color: white;
          font-size:14px;
        }
      }
    }
  }
  &__bottom {
    margin-top:auto;
    &-logout {
      display:flex;
      align-items:center;
      justify-content:center;
      gap:16px;
      height:45px;
      cursor:pointer;
      position: relative;
      right: 9px;
    }
    &__dark-mode {
      width:100%;
      border-radius:14px;
      height: 50px;
      border:3px solid #02B7FA;
      margin-top: 24px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      &--selected {
        background-color: #02B7FA;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity:1!important;
        p {
          color: white;
        }
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:12px;
        padding-inline: 14px;
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
