<div class="sidebar relative"
[ngClass]="{
    'sidebar--closed': !this.$isSIdeBarOpen$()
}"
>
  <img (click)="toggleSidebar()" 
  [ngClass]="{'right-[-36px]': !this.$isSIdeBarOpen$(),
        'right-[9px]':this.$isSIdeBarOpen$(),
      
        }"
  class="w-[18px] absolute  cursor-pointer z-10" src="./assets/images/side-bar/close-icon.svg" alt="">

  <div class="relative top-[1px]">
    <div class="flex items-center align-middle gap-[10px]">
      <img class="cursor-pointer" (click)="onNavigate('/main-page')" src="./assets/images/side-bar/inactive-logo.svg" alt="*">
      @if ($isSIdeBarOpen$()) {
        <p class="text-dark font-bold text-[20px]">SalesApp</p>
      }
    </div>
        <div class="flex flex-col justify-between h-[91%] mt-[25px]">
          <ng-container *ngFor="let route of routes">
            @if(route.type === 'tree-select') {
              <ng-container *ngIf="hasPermissionUser(route.permission)">
                <div class="sidebar__tab__route justify-between" (click)="toggleTree(route)" [class.sidebar__tab__route-select--active]="isRouteActive(route)">
                  <div class="flex items-center gap-[5px]">
                    <img [src]=" isRouteActive(route)? route.activeIcon : route.icon" alt="">
                    <p *ngIf="$isSIdeBarOpen$()" [style.color]="isRouteActive(route)? 'white' : 'black'">{{ route.label | translate }}</p>
                  </div>
                  <img *ngIf="$isSIdeBarOpen$()" [src]="isRouteActive(route) ? route.arrowWhite : route.arrowBlack" alt="">
                </div>
                <ng-container *ngIf="isRouteActive(route)"  >
                  <div class="bg-grayLight pb-[17px]">
                    <div  *ngFor="let subRoute of route.children" (click)="onNavigate(subRoute.path)"
                      >
                    <div class="flex items-center">
                      <p *ngIf="$isSIdeBarOpen$()" 
                      class="mt-[19px] mb-0 pl-[17px] text-[14px] cursor-pointer" 
                      [ngClass]="{
                        'text-accent': $currentRoute$() === subRoute.path,
                      }"
                      >{{ subRoute.label | translate }}</p>
                    </div>
                  </div>
                  </div>
                </ng-container> 
              </ng-container>
            } @else {
              <ng-container *ngIf="hasPermissionUser(route.permission)">
                <div class="sidebar__tab__route"
                     (click)="onNavigate(route.path)"
                     [class.sidebar__tab__route--active]="$currentRoute$() === route.path">
                  <img [src]="$currentRoute$() === route.path ? route.activeIcon : route.icon" alt="">
                  <p *ngIf="$isSIdeBarOpen$()">{{ route.label | translate }}</p>
                </div>
              </ng-container>
            }
          </ng-container>
      
    <!-- Logout -->
    <div class="sidebar__bottom">
      <div class="sidebar__bottom-logout" (click)="logout()">
        <img src="./assets/images/side-bar/logout.png" alt="*">
        @if ($isSIdeBarOpen$()) {
          <p>{{'side-bar.5' | translate}}</p>
        }
      </div>
    </div>
  </div>
</div>
