<div class="sidebar relative"
[ngClass]="{
    'sidebar--closed': !this.$isSIdeBarOpen$()
}"
>
  <img (click)="toggleSidebar()" 
  [ngClass]="{'right-[-36px]': !this.$isSIdeBarOpen$(),
        'right-[9px]':this.$isSIdeBarOpen$(),
      
        }"
  class="w-[18px] absolute  cursor-pointer z-10" src="./assets/images/side-bar/close-icon.svg" alt="">

  <div class="relative top-[1px]">
    <div class="flex items-center align-middle gap-[10px]">
      <img class="cursor-pointer" (click)="onNavigate('/main-page')" src="./assets/images/side-bar/inactive-logo.svg" alt="*">
      @if ($isSIdeBarOpen$()) {
        <p class="text-dark font-bold text-[20px]">SalesApp</p>
      }
    </div>

        <div class="flex flex-col justify-between h-[91%] mt-[25px]">
          <ng-container *ngFor="let route of routes">
            <ng-container *ngIf="hasPermissionUser(route.permission)">
              <div class="sidebar__tab__route"
                   (click)="onNavigate(route.path)"
                   [class.sidebar__tab__route--active]="$currentRoute$() === route.path">
                <img [src]="$currentRoute$() === route.path ? route.activeIcon : route.icon" alt="">
                <p *ngIf="$isSIdeBarOpen$()">{{ route.label | translate }}</p>
              </div>
            </ng-container>
          </ng-container>
      
    <!-- Logout -->
    <div class="sidebar__bottom">
      <div class="sidebar__bottom-logout" (click)="logout()">
        <img src="./assets/images/side-bar/logout.png" alt="*">
        @if ($isSIdeBarOpen$()) {
          <p>{{'side-bar.5' | translate}}</p>
        }
      </div>
    </div>
  </div>
</div>
