<div class="overlay z-30"></div>
<div
  class="max-w-[833px] bg-white w-full h-[512px] py-[24px] px-[40px] rounded-[8px] absolute z-40 m-auto left-0 right-0 top-0 bottom-0"
>
  <div class="flex justify-between items-center">
    <h3>თანამშრომლის დამატება</h3>
    <img
      class="cursor-pointer"
      (click)="close.emit()"
      src="./assets/images/organizations/close.png"
      alt="Close"
    />
  </div>
  <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div class="flex items-center justify-between flex-1 gap-[60px]">
      <div class="flex flex-col flex-1">
        <label for="productName1" class="text-border">სახელი</label>
        <input
          type="text"
          id="productName1"
          pInputText
          formControlName="firstName"
          class="flex-1 mt-3"
        />
      </div>
      <div class="flex flex-col flex-1 ml-4">
        <label for="productName2" class="text-border">გვარი</label>
        <input
          type="text"
          id="productName2"
          pInputText
          formControlName="lastName"
          class="flex-1 mt-3"
        />
      </div>
    </div>

    <div class="flex items-center justify-between flex-1 gap-[60px] mt-4">
      <div class="flex flex-col flex-1">
        <label for="phoneNumber" class="text-border">ტელეფონის ნომერი</label>
        <p-inputNumber
        formControlName="phoneNumber"
        mode="decimal"
        inputId="withoutgrouping"
        [useGrouping]="false"
        class="flex-1 mt-3"
      />
      </div>
      <div class="flex flex-col flex-1 ml-4">
        <label for="personalNumber" class="text-border">პირადი ნომერი</label>

        <p-inputNumber
          formControlName="personalNumber"
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
          class="flex-1 mt-3"
        />
      </div>
    </div>

    <div class="flex items-center justify-between flex-1 gap-[60px] mt-4">
      <div class="flex flex-col flex-1">
        <label for="email" class="text-border">მეილი</label>
        <input
          type="text"
          id="email"
          pInputText
          formControlName="email"
          class="flex-1 mt-3"
        />
      </div>
      <div class="flex flex-col flex-1 ml-4">
        <label for="position" class="text-border">პოზიცია</label>
        <p-dropdown
          [options]="position"
          optionLabel="name"
          formControlName="position"
          class="mt-3"
        ></p-dropdown>
      </div>
    </div>

    <div class="flex items-center justify-between flex-1 gap-[60px] mt-4">
      <div class="flex flex-col flex-1">
        <label for="role" class="text-border">როლი</label>
        <p-dropdown
          [options]="roles$ | async"
          optionLabel="name"
          formControlName="role"
          class="mt-3"
        ></p-dropdown>
      </div>
      <div class="flex flex-col flex-1 ml-4">
        <label for="salesGroup" class="text-border">გაყიდვების ჯგუფი</label>
        <p-dropdown
          [options]="[]"
          optionLabel="name"
          formControlName="salesGroup"
          class="mt-3"
        ></p-dropdown>
      </div>
    </div>

    <button
      type="submit"
      class="outline-none border-none rounded-[8px] text-white bg-accent py-[8px] w-[150px] m-auto mt-2 cursor-pointer ml-auto absolute right-[40px] bottom-[15px]"
    >
      დამატება
    </button>
  </form>
</div>
