<div class="login">
  <img
  class="login-logo"
  src="./assets/images/login/site-logo.png"
  alt=""
/>
  <div class="login__wrapper">

    <div class="login__wrapper__form">
      <p class="text-[18px] font-bold whitespace-nowrap relative bottom-[70px]">წარმატებულ სამუშაო დღეს გისურვებთ!</p>
      <h1>ავტორიზაცია</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login__wrapper__form-inputs">
          <p-floatLabel>
            <input pInputText id="username" formControlName="username" />
            <label for="username">Username</label>
          </p-floatLabel>
          <p-floatLabel>
            <p-password
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
            />
            <label for="password">Password</label>
          </p-floatLabel>
          @if(!$isError$()) {
          <div
            style="
              margin-top: 16px;
              display: flex;
              align-items: center;
              gap: 5px;
            "
          >
            <p-checkbox [binary]="true" inputId="binary" formControlName="rememberMe" />
            <p>დამახსოვრება</p>
          </div>
          } @else {
          <div
            style="
              margin-top: 16px;
              display: flex;
              align-items: center;
              gap: 5px;
            "
          >
            <p style="color: red">მომხმარებლის მონაცემები არასწორია</p>
          </div>
          }

          <div class="login__wrapper__form-inputs-submit">
            <p-button
              label="შესვლა"
              type="submit"
              [disabled]="loginForm.invalid"
            />
          </div>
        </div>
      </form>
      <h1>John Doe</h1>
      <h1>securepassword</h1>
      <p class="absolute bottom-0 font-medium px-3">ნებისმიერი კითხვის ან/და პრობლემის შემთხვევაში, დაუკავშირდით ჩვენს მომხმარებელთა ზრუნვის დეპარტამენტს: 45252352</p>
    </div>
    
  </div>
  <img class="login-left" src="./assets/images/login/login-left.png" alt="" />
</div>
