:host {
  display:flex;
  align-items:center;
  justify-content:center;
}
.login {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 100%;
  padding-left: 190px;
  &-left {
    position: absolute;
    height: 100vh;
    right: 0;
  }
  &__wrapper {
    display: flex;
    height: 100vh;
    position: relative;
    max-width: 410px;
    display: flex;
    width: 100%;
    align-items: center;
    &-logo {
      position: absolute;
      top: 14px;
      left: -72px;
    }
    &__form {
      width: 100%;
      h1 {
        text-align: center;
        font-size: 24px;
      }
      &-inputs {
        &::ng-deep {
          .p-float-label {
            margin-top: 30px;
          }
        }
        &-submit {
          padding-top: 40px;
          p-button {
            &::ng-deep {
              .p-ripple {
                width: 100% !important;
                height: 70px;
                border-radius: 8px;
                background-color: var(--accent);
                border:none;
                outline:none;
              }
            }
          }
        }
      }
      p-floatLabel {
        input {
          width: 100%;
          height: 70px;
          border-radius: 4px;
        }
        p-password {
       
          &::ng-deep {
            .p-inputtext,.p-password {
              width: 100%;
              height: 70px;
            }
          }
        }
      }

    }
  }

}

