.dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 30px;
  gap:24px;
  @media screen and (min-width: 1600px) {
    justify-content: center;
  }
  &__chart {
    max-width: 634px;
    width: 100%;
    padding: 24px;
    background-color: white;
    border-radius: 10px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__numbers {
      display: flex;
      align-items: center;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      margin-top: 20px;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
      div:nth-child(2) {
        p {
          font-size: 18px;
          font-weight: 900;
        }
      }
      &-item {
        div {
          border-radius: 50%;
          width: 16px;
          height: 16px;
        }
        &-header {
          color:#5B757E;
          font-size: 17px;
        }
      }
    }
  }

}
::ng-deep {
  .p-dropdown {
    width: 117px;
    padding: 5px !important;
  }
  apx-chart {
    width: 291px;
    height: 266px;
    display:block;
  }
}
