.dashboard {
  display: flex;
  justify-content: flex-end;
  padding: 88px 16px 16px;
  gap: 24px;
  height: 100%;
  width: 100%;
}
::ng-deep {·Éê
  .p-dropdown {
    width: 117px;
    padding: 5px !important;
  }
  apx-chart {
    width: 340px;
    height: 266px;
    display:block;
  }
}
