<app-header></app-header>
<div class="flex">
    <app-sidebar/>
        <div class="w-full m-[16px] mt-[88px] bg-white p-[16px] rounded-[6px]">
            <div class="flex justify-between items-center">
                <h3>{{'settings' | translate}}</h3>
                <app-add-button (click)="handleEmitType({type:crudEnum.ADD,actionId:$buyerOrganziaitonId$(),tabType:activeItem.defName})"/>
            </div>
            <div class="card">
                <p-tabMenu [model]="tabOptions$ | async" [(activeItem)]="activeItem" />
            </div>
            <div class="mt-[36px] relative">
                @if(activeItem.defName === tabType.ACTIONS) {
                    <app-universal-table (actionType)="handleEmitType($event)" [tabType]="activeItem.defName"  [columns]="tableColumns" [data]="(actions$ | async)" (page)="listenPageChange($event)"/>
                    @if($openActioPopup$()) {
                        <app-action-modal [requestType]="$actionType$()" (close)="$openActioPopup$.set(false)" [buyerOrgId]="$buyerOrganziaitonId$()" />
                    }
                } @else if (activeItem.defName === tabType.POSITIONS) {
                    <app-universal-table (actionType)="handleEmitType($event)" [tabType]="activeItem.defName"  [columns]="tableColumnsPosition" [data]="(positions$ | async)" (page)="listenPageChange($event)"/>    
                        @if($openPositionModal$()) {
                            <app-position-modal [actionType]="$actionType$()" (close)="$openPositionModal$.set(false)"/>
                        }
                }@else if (activeItem.defName === tabType.PRODUCTS) {
                    <app-universal-table (actionType)="handleEmitType($event)" [tabType]="activeItem.defName"  [columns]="tableColumnsProducts" [data]="(products$ | async)" (page)="listenPageChange($event)"/>    
                }
            </div>
        </div>
</div>