::ng-deep {
    .p-tabmenu-nav {
      display: flex;
      gap: 45px;
    }
    .p-menuitem-text {
      padding: 17px;
      
    }
    .p-menuitem-link {
        padding: unset;
    
    }
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
        color: var(--accent);
        border-color: var(--accent);
    }
  }