.wrapper {
  &__overdue{
    height:167px;
    background-color: white;
    padding:24px;
    border-radius:10px;
    width: 465px;
  }
  &__overdue-value {
    margin-top: 11px;
  }
  &__overdue {
    &__bottom {
      margin-top: 15px;
      &-texts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6 {
          color: #181C32;
          font-size:14px;
        }
      }
      &-progress {
        background-color:#FFDED2;
        border-radius: 10px;
        height:8px;
        div {
          height:100%;
          border-radius: 10px;
          background-color: #FF9871;
        }
      }
    }
  }
}
