<app-web-container>
        <app-web-container-inner [padding]="'24px'">
            <!--  -->
            <ng-container header-btn>
                <div class="flex items-center gap-1">
                    <img class="cursor-pointer" (click)="navigateBack('employees')" src="./assets/images/employee/arrow-left.svg" alt="*">
                    <h4 class="text-[14px]">თანამშრომლის დეტალური გვერდი</h4>
                </div>
            </ng-container>
              <!--  -->
              <ng-container content *ngIf="{employee:employee$ | async } as params">
                <div class="flex justify-between items-center w-full flex-wrap" >
                    <div class="flex items-center gap-[24px]">
                        <img src="./assets/images/employee/default-employee.svg" alt="*">
                        <div>
                            <h6 class="mt-0 mb-0 text-[14px]">{{params?.employee?.firstName}} {{params?.employee?.lastName}}</h6>
                            <div class="flex items-center gap-[3px]">
                                <img src="./assets/images/employee/lock.svg" alt="">
                                <p class="text-accent font-medium cursor-pointer">პაროლის აღდგენა</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-[12px]">
                        <p-inputSwitch [(ngModel)]="checked" (click)="deactivateEmployee()" />
                        <p class="mt-0 text-[14px]">აქტივაცია</p>
                    </div>
             
                </div>
                <div class="mt-[48px] flex justify-between w-full flex-wrap">
                <!--  -->
                <div class="flex items-center gap-[24px]">
                    <div class="flex flex-col gap-[24px]">
                    <p class="mt-0 mb-0 text-[14px]">პირადი ნომერი</p>
                    <p class="mt-0 mb-0 text-[14px]">მეილი</p>
                    <p class="mt-0 mb-0 text-[14px]">როლი</p>
                    </div>
                    <div class="flex flex-col gap-[24px]">
                        <h4 class="mt-0 mb-0 text-[14px]">{{params?.employee?.personalNumber}}</h4>
                        <h4 class="mt-0 mb-0 text-[14px]">{{params?.employee?.email}}</h4>
                        <h4 class="mt-0 mb-0 text-[14px]">{{params?.employee?.role}}</h4>
                    </div>
                </div>
                <!--  -->
                <div class="flex items-center gap-[24px]">
                    <div class="flex flex-col gap-[24px]">
                    <p class="mt-0 mb-0 text-[14px]">ტელ.ნომერი</p>
                    <p class="mt-0 mb-0 text-[14px]">პოზიცია</p>
                    <p class="mt-0 mb-0 text-[14px]">გაყიდვების ჯგუფი</p>
                    </div>
                    <div class="flex flex-col gap-[24px]">
                        <h4 class="mt-0 mb-0 text-[14px]">{{params?.employee?.phoneNumber}}</h4>
                        <h4 class="mt-0 mb-0 text-[14px]">{{params?.employee?.position}}</h4>
                        <h4 class="mt-0 mb-0 text-[14px]"[style.visibility]="params?.employee?.sellingGroup ? 'visible' : 'hidden'">{{params?.employee?.sellingGroup || 0}}</h4>
                    </div>
                </div>
            </div>
              </ng-container>
              <!--  -->
        </app-web-container-inner>
</app-web-container>