@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

* {
  font-family: "Noto Sans Georgian", sans-serif;
  padding:0;
  margin:0;

}

body {
  background-color: #F7F7F7;
}
