<div class="overlay z-30"></div>
<div class="max-w-[460px] bg-white  w-full h-[300px] py-[24px] px-[40px] rounded-[8px] absolute z-40 m-auto left-0 right-0 top-0 bottom-0 ">
    <div class="flex justify-between items-center">
        <h3>პოზიციის დამატება</h3>
        <img class="cursor-pointer" (click)="close.emit()" src="./assets/images/organizations/close.png"alt="">
    </div>
    <form  class="flex flex-col">
        <input formControlName="action" class="mt-3 px-2.5 py-1.5 max-w-[446px] h-[36px] rounded-md w-full"  type="text" placeholder="@gmail.com">
        <div class="w-full">
            <p-multiSelect 
            [options]="positionSelect" 
            optionLabel="name" 
            formControlName="positionSelect"
            /> 
        </div>
        <button class="outline-none border-none rounded-[8px]  text-white bg-accent
        py-[8px]
        w-[140px]
        m-auto
        mt-10
        cursor-pointer 
        "
        >დამატება</button>
    </form>
</div>