<div class="w-[99%] m-[16px]  bg-white p-[16px] rounded-[6px] ">
    <div class="flex justify-between items-center">
        <h3>{{'settings' }}</h3>
        <app-add-button />
    </div>
    <form action="" class="mt-[56px] flex flex-wrap items-center gap-[24px]">
        @if(cConfig[sectionType].hasSearchInput) {
            <div class="w-[100%] max-w-[395px] relative">
            <input
            type="text"
            pInputText
            placeholder="{{cConfig[sectionType].placeHolderKey| translate}}"
            class="max-w-[390px] w-full h-12 rounded-md text-left pl-8 placeholder:text-xs placeholder:text-card"
          />
          <i class="pi pi-search absolute left-3 top-4" style="font-size: 1rem"></i>
        </div>
        }
        @if(cConfig[sectionType].hasFindSellingGroup) {
            <div class="w-[100%] max-w-[215px]">
                <p-dropdown
                [options]="translationSubscription$ | async"
              optionLabel="name"
              placeholder="{{'organizaiton-filter.2' | translate}}"
              [showClear]="$isItemSelected$() ? true : false"
              />
            </div>
        }

        @if(cConfig[sectionType].hasFindWithPosition) {
            <div class="w-[100%] max-w-[215px]">
                <p-dropdown
                [options]="translationSubscription$ | async"
              optionLabel="name"
              placeholder="{{'organizaiton-filter.2' | translate}}"
              [showClear]="$isItemSelected$() ? true : false"
              />
            </div>
        }
        @if(cConfig[sectionType].hasDeletedCheckbox) {
            <div class="flex items-center gap-[10px]">
                <p-checkbox 
                formControlName="city" 
                value="New York" 
                inputId="ny" />
            <label for="ny">წაშლილები</label>
            </div>
        }

    </form>
</div>